.ques-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ques-container {
    margin-top: 2rem;
}

.ques-container > p {
    margin-bottom: 2rem;
}

.ques-btn-container {
    padding: 1rem;
    display: flex;
    max-width: 35rem;
    gap: 1rem;
    flex-direction: column;
}

.option-btn {
    width: 100%;
}